{
  "directory":".",
  "repos": [
    {
      "dirname": "core",
      "origin": "git@bitbucket.org:xxx/one.git",
      "sync": "https://github.com/ONLYOFFICE/core.git",
      "branch": [
        "master",
        "release/v5.1.0"
      ],
      "tag": [
        "v1.0"
      ]
    },
    {
      "dirname": "sdkjs",
      "origin": "git@bitbucket.org:xxx/sdkjs.git",
      "sync": "https://github.com/ONLYOFFICE/sdkjs.git",
      "branch": [
        "master",
        "release/v5.1.0"
      ]
    },
    {
      "dirname": "nextcloud-xxx",
      "origin": "git@bitbucket.org:xxx/nextcloud-xxx.git",
      "sync": "",
      "branch": [
        "stable13"
      ],
      "gitmodules":[
        {
          "branch": "stable13",
          "submodules":[
            {
              "submodule": "xxx",
              "path": "apps/xxx",
              "url": "git@bitbucket.org:xxx/nextcloud-xxx.git",
              "branch": "master"
            }
          ]
        }
      ]
    }
    
  ]
}
